nav {
    height: fit-content;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF9ECD;

    @media (max-width: 460px) {
        flex-direction: column;
        text-align: center;
        gap: 15px;
      }
}
