.grid {
    padding: 40px 0;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
}


.item {
    height: 150px;
    width: 150px;
    border-radius: 1.5rem;
    background-color: #93a9ff;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 0rem rgb(40,40,40);
    border: 4px solid  rgb(40,40,40);

    a {
        color: rgb(40,40,40);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

  @keyframes rotate-vert-center {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
  }
  
}


